.btn {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 16px; 
    padding: 2%;
    border-radius: 4%;
}

.pay {
    display: block;
    padding: 20px;
    border-radius: 4%;
    width: 25%;
}


#images img {
    width: 30%;
    object-fit: cover;
padding: 10px;


}

 
#images img,
#images .order {
  filter: blur(8px);
  transition: filter 0.5s ease;
}

#images.clear img,
#images.clear .order {
  filter: blur(0);
}
