.btn {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  gap: 6px; 
  padding: 20px;
  border-radius: 4%;
  border: 3px solid transparent;
background-color: rgb(4, 197, 123, 0.8);
width:15%;
border-color: black;
border-width:3px ;
border-width:3px ;
border-width:3px ;
font-size: 14px;
font-weight: 800;
font-style: italic;
}


.pay {
    display: flex;
    padding: 20px;
    border-radius: 4%;
    width: 15%;
background-color: rgb(4, 197, 123, 0.8);
border-color: black;
border-width:3px ;
  font-size: 14px;
font-weight: 800;
font-style: italic;
}

.img{
border-radius: 20px;
}



#images img {
    width: 30%;
    object-fit: cover;
padding: 10px;


}

 
#images img,
#images .order {
  filter: blur(10px);
  transition: filter 0.9s ease;
}

#images.clear img,
#images.clear .order {
  filter: blur(0);
}
body {
    background: linear-gradient(270deg, rgba(20, 94, 53, 0.6), rgba(116, 1, 1, 0.5), rgba(61, 22, 0, 0.7));
    background-size: 600% 600%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
     background-position: 0% 50%;
  }
  50% {
     background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

h3{

  font-size: x-large;
font-weight: 900;
font-style: italic;
color: rgb(145, 25, 9);

}

h4{
font-size: large;
font-weight: 800;
font-style: italic;
color:rgb(7, 5, 126);
}